@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */

:root {
  --black-color: #101010;
  --white-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: clip;
}

#root {
  height: 100%;
  width: 100%;
}

@layer base {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
}
